<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @account.id %>
</p>

<p>
  <b>Product:</b>
  <%= @account.product_id %>
</p>

<p>
  <b>Institution:</b>
  <%= @account.institution_id %>
</p>

<p>
  <b>Nickname:</b>
  <%= @account.nickname %>
</p>

<p>
  <b>Description:</b>
  <%= @account.description %>
</p>

<p>
  <b>Display balance:</b>
  <%= @account.display_balance_id %>
</p>

<%= link_to 'Back', accounts_path %>
