= form_for @account_product do |f|
  -if @account_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account_product.errors.count, "error")} prohibited this account_product from being saved:"
      %ul
        - @account_product.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
